<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
</head>
<body class="shoping-cart">
	<!-- End .banner -->
	<div class="main-content container" layout:fragment="content">
		<h4 class="title-page">Shoping Cart</h4>
		<div class="shop-table-content container">
			<form method="post" th:action="@{'/updateCart'}" class="shoping-form">
				<a class="button button-check-out" href="#">Proceed to Checkout</a>
				<div class="div-table-cart">
					<table class="shop_table cart">
						<thead>
							<tr>
								<th class="product-thumbnail">&nbsp;</th>
								<th class="product-name">Product Name</th>
								<th class="product-edit">Product Code</th>
								<th class="product-price">Unit Price</th>
								<th class="product-quantity">Qty</th>
								<th class="product-subtotal">Subtotal</th>
								<th class="product-remove">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr class="cart_item" th:each="item : ${session.cart}">
								<td class="product-thumbnail" data-title=""><a href="#"><img
										height="150" width="185" alt="s_c"
										class="attachment-shop_thumbnail wp-post-image"
										th:src="@{'/images/' + ${item.product.fileImage}}"></a></td>
								<td class="product-name" data-title="Product Name"><a
									href="#"><span th:text="${item.product.name}"></span></a></td>
								<td class="edit"><a href="#"><span
										th:text="${item.product.codeSp}"></span></a></td>
								<td class="product-price" data-title="Unit Price"><span
									class="amount"><span th:text="${item.product.price}"></span></span>
								</td>
								<td class="product-quantity" data-title="Qty">
									<div class="quantity buttons_added">
										<input type="number" class="input-text qty text" title="Qty"
											th:value="${item.quantity}" name="quantity" min="1" max="10">
									</div>
								</td>
								<td class="product-subtotal" data-title="Subtotal"><span
									class="amount" th:text="${item.product.price*item.quantity}"></span>
								</td>
								<td class="product-remove" data-title="Remove"><a
									title="Remove this item" class="remove" href="#">×</a></td>

							</tr>

						</tbody>
					</table>

					<div class="button-cart">
						<a class="button button-check-out" th:href="@{'/clearCart'}">Clear Shoping Cart</a>
						<button type="submit" class="btn btn-secondary button-check-out">Update Cart</button>
						<a class="button button-check-out" href="/home">Continue Shoping</a>
					</div>
				</div>
			</form>
			<div class="row">
				<div class="col-md-4">
					<div class="base-selector cart-box">
						<p>
							Based on your selection, you may be interested in the<br />
							following items:
						</p>
						<div class="base-selector-box">
							<figure>
								<img src="assets/images/ba1.jpg" alt="ba" height="118"
									width="100">
							</figure>
							<div class="base-selector-content">
								<a class="product-name" href="#">Acne Studios - Silver</a>
								<p class="product-cost">$168.00</p>
								<a class="button button-check-out" href="#">Add To Cart</a>
								<p>
									<a href="#">Add to Wishlist</a> <a href="#">Add to Compare</a>
								</p>
							</div>
						</div>
						<div class="base-selector-box">
							<figure>
								<img src="assets/images/ba2.jpg" alt="ba" height="118"
									width="100">
							</figure>
							<div class="base-selector-content">
								<a class="product-name" href="#">Acne Studios - Silver</a>
								<p class="product-cost">$168.00</p>
								<a class="button button-check-out" href="#">Add To Cart</a>
								<p>
									<a href="#">Add to Wishlist</a> <a href="#">Add to Compare</a>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="discount-cost-box cart-box">
						<p>Discount codes</p>
						<span>Enter your coupon code if you have one.</span> <input
							type="text" placeholder="" value=""> <a
							class="button button-check-out" href="#">Apply Coupon</a>
					</div>
					<div class="estimate-box cart-box">
						<p>
							<i class="flaticon-transport"></i>Estimate Shipping and Tax
						</p>
						<span>Enter your destination to get a shipping estimate.</span> <label><span>*</span>Country</label>
						<label>State/Province</label> <select name="state" id="state">
							<option value="state1">Please select region, state or
								provice</option>
							<option value="state2">Provice</option>
						</select> <label>City</label> <input type="text" placeholder="" value="">

						<label>Zip/Postal Code</label> <input type="text" placeholder=""
							value=""> <a class="button button-check-out" href="#">Get
							a quote</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="cart_totals cart-box">
						<table>
							<tbody>
								<tr class="cart-subtotal">
									<th>Subtotal:</th>
									<td><span class="amount" th:text="${totalPrice}"></span></td>
								</tr>
								<tr class="grand">
									<th>Grand Total:</th>
									<td><span class="amount" th:text="${totalPrice}"></span></td>
								</tr>
							</tbody>
						</table>
						<a class="button button-check-out" href="/checkout">Proceed To
							Checkout</a>
					</div>
				</div>
			</div>

		</div>
		<div id="section-icon-box">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="icon-box style1">
							<div class="row">
								<div class="col-md-4">
									<i class="flaticon-umbrella"></i>
								</div>
								<div class="col-md-8">
									<div class="icon-box-content">
										<h4>Buyer Protection</h4>
										<p>Secure payments Guaranteed refunds Escrow protection on
											every oder</p>
										<a href="#">Read More<i aria-hidden="true"
											class="fa fa-angle-double-right"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="icon-box style1">
							<div class="row">
								<div class="col-md-4">
									<i class="flaticon-return-of-investment"></i>
								</div>
								<div class="col-md-8">
									<div class="icon-box-content">
										<h4>RETURN &amp; EXCHANGE</h4>
										<p>Wholesale products from certified Worldwide shipping
											Low prices from US $0.1</p>
										<a href="#">Read More<i aria-hidden="true"
											class="fa fa-angle-double-right"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="icon-box style1">
							<div class="row">
								<div class="col-md-4">
									<i class="flaticon-transport"></i>
								</div>
								<div class="col-md-8">
									<div class="icon-box-content">
										<h4>FREE DELIVERY</h4>
										<p>Wholesale products from certified Worldwide shipping
											Low prices from US $0.1</p>
										<a href="#">Read More<i aria-hidden="true"
											class="fa fa-angle-double-right"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>